version: '3.8'

services:
  telegram-bot:
    build: .
    container_name: telegram-userbot
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
